body{
    padding: 0;
    margin: 0;
}
#containerDiv{
background-color: #080d11;
    width: 100%;
    height: 198%;
    margin: auto;
    color: white;
    }

    
#headerDivId{
    width:100%;
    height: 5%;
    background-image: linear-gradient(#183d51,#112b39 60%,#0c1f29);
    }
    #logoDivId{
        width: 10%;
        height: 100%;
        float: left;
        text-align: center;
    }
    #logoDivId p{
        font-size: 1.3em;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }
    #navDivId{
        width: 90%;
        height: 100%;
        float: left;
        text-align: right;
    }
    .navItemClass{
        height: 100%;
        width: 8%;
        color: white;
        background-image: linear-gradient(#183d51,#112b39 60%,#0c1f29);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size:16px;
        border: none;
        cursor:pointer;
    }
    #homeBtn{
        color:lightcoral;
    }
    
    
    
    
    
    
    #detailsDiv{
    width: 98%;
    height: 84%;
    margin:auto;
    margin-top: 4%;
    }
    
    
    #movieDetails{
        width: 98%;
        height: 40%;
        margin:auto;
    }
    

    #movieDetailsOne{
    width: 20%;
    height: 90%;
    margin-left: 1%;
    float: left;
    }
    
    .moviePosterDivClass{
        text-align: center;
        border:solid 5px;
        border-color:  rgb(100, 100, 100);
        border-radius: 10%;
        margin-left: 8%;
        background-color: white;
    }
    .moviePosterPhotoClass{
        width:80%;
        height:80%;
    }
    .movieDownloadButtonClass{
        width:80%;
        height:20%;
        border:none;
        color: white;
        background-color: green;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
    }

    
    #movieDetailsTwo{
        width: 42%;
        height: 95%;
        margin-left: 1%;
        float: left;
        text-align: center;

    }
    #movieDetailsTwo p:nth-child(1){
        color: green;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size:28px;
        text-align: center;
    }
    #movieDetailsTwo p:nth-child(2){
        color:white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size:14px;
    }
    #movieDetailsTwo p:nth-child(3){
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: normal;
        font-size:14px; 
    }
    
    
    
    
    #movieDetailsThree{
        width: 32%;
        height: 95%;
        float: left;
        text-align: center;
    }
    #movieDetailsThree p{
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size:24px;
        text-align: center;
    }
    
    #movieDetailsThree div{
        width:70%;
        height:35%;
        margin-left: 2%;
        margin-Top: 1%;
        border:5px solid gray;
        border-radius: 10%;
        margin: auto;
        margin-top: 2%;
        background-color: white;
        text-align: center;
    }
    
    .similarMoviesImage{
        width: 75%;
        height: 100%;
        cursor:pointer;
    }
    
    
    
    #movietrailer{
        width: 98%;
        height: 20%;
        margin:auto;
    }
    #trailerOne{
        width: 32%;
        height: 100%;
        margin-left: 1%;
        float: left;
    }
    #traielVideo{
        width: 100%;
        height: 100%;
    }
    #trailerTwo{
        width: 32%;
        height: 100%;
        margin-left: 1%;
        float: left;
    }
    #trailerThree{
        width: 32%;
        height: 100%;
        margin-left: 1%;
        float: left;
    }
    .screenShotClass{
        width: 100%;
        height: 100%;
    }
    
    
    #movieDirector{
        width: 98%;
        height: 40%;
        margin:auto;
    }
    #synopsis{
        width: 57%;
        height: 100%;
        margin-left: 1%;
        float: left;
    }
    #synopsis p:nth-child(odd){
        color: lightcoral;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size:16px;
    }
    #synopsis p:nth-child(even){
        color: rgb(100, 100, 100);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: normal;
        font-size:14px;   
    }
    
    
    #actors{
        width: 40%;
        height: 100%;
        margin-left: 1%;
        float: left;
    }
    .directorCastTitle{
        color: lightcoral;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size:16px;
    }
    .hrClass{
        display: block;
        border-style: inset;
        border-width: 1px;
        border-color:  rgb(100, 100, 100);;
    }
    .directorCastInformation{
    width: 100%;
    height: 10%;
    }
    .directorCastImageDiv{
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    }
    .directorCastImage{
        border-radius: 50%;
        width: 50%;
        height: 100%;
    }
    .directorCastName{
    width: 75%;
    height: 100%;
    float: left;
    text-align: center;
    }
    .directorCastName p:nth-child(1){
        color: rgb(100, 100, 100);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: normal;
        font-size:14px;  
        float: left;
    }
    .directorCastName p:nth-child(2){
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: normal;
        font-size:14px;  
        float: left;
        white-space: pre;
    }
    
    #footerDiv{
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size:14px;
    width: 98%;
    height: 5%;
    margin:auto;    
    }
    #footerDiv a{
    color: lightcoral;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size:14px;
    }
    
    
    